<!-- directive : input[number] -->

<!-- Text input with number validation and transformation. Sets the number validation error if not a valid number. -->

<!-- usage : <input type="number"
       ng-model="string"
       [name="string"]
       [min="string"]
       [max="string"]
       [ng-min="string"]
       [ng-max="string"]
       [step="string"]
       [ng-step="string"]
       [required="string"]
       [ng-required="string"]
       [ng-minlength="number"]
       [ng-maxlength="number"]
       [pattern="string"]
       [ng-pattern="string"]
       [ng-change="string"] -->

       <!DOCTYPE html>
       <html lang="en" ng-app="directives">
       <head>
           <meta charset="UTF-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <title>directive : input[number] </title>
           <script src="../script/angular.min.js"></script>
           <script src="directiveScript.js"></script>
             
       </head>
       <body>
           
        <form name="myForm" ng-controller="inputNumberController">
            <label>Number:
              <input type="number" name="input" ng-model="example.value"
                     min="0" max="99" required>
           </label>
            <div role="alert">
              <span class="error" ng-show="myForm.input.$error.required">
                Required!</span>
              <span class="error" ng-show="myForm.input.$error.number">
                Not valid number!</span>
            </div>
            <p>value = {{example.value}}</p><br/>
            <p>myForm.input.$valid = {{myForm.input.$valid}}</p><br/>
            <p>myForm.input.$error = {{myForm.input.$error}}</p><br/>
            <p>myForm.$valid = {{myForm.$valid}}</p><br/>
            <p>myForm.$error.required = {{!!myForm.$error.required}}</p><br/>
           </form> 
           
       
       </body>
       </html>